<html>
  {% extends "layout.html" %}
  
  {% block title %}
    {%  if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Welcome to the Page</title>
    {%  endif %}
  {% endblock %}
  
  {% block content %}
    <h1>My Basket</h1>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{product.name}}</td>
              <td></td>
              <td>{{product.price}}</td>
            </tr>
          {% endfor %}
          <tr>
              <td>TOTAL</td>
              <td></td>
              <td>{{ total }}</td>
          </tr>
        </tbody>

      </table>
      <form method ="post" action="/checkout">
        <button class="btn" type='submit_btn' name='submit' value='shop'>Buy more</button>
        <button class="btn btn-primary" type='submit_btn' name='submit' value='pay'>Pay now</button>
      </form>
  {% endblock %}
</html>
