<html>
  {% extends "layout.html" %}

  {% block title %}
    Checkout
  {% endblock %}

  {% block content %}
    <h1>My Basket</h1>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Product</th>
            <th scope="col"></th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{product.name}}</td>
              <td></td>
              <td>£{{product.price}}</td>
            </tr>
          {% endfor %}
          <tr>
            <strong>
              <td>TOTAL</td>
              <td></td>
              <td>£{{ total }}</td>
            </strong>
          </tr>
        </tbody>

      </table>
      <form method ="post" action="/checkout">
        <button class="btn" type='submit_btn' name='submit' value='empty'>Empty Basket</button>
        <button class="btn" type='submit_btn' name='submit' value='shop'>Buy more</button>
        <button class="btn btn-primary" type='submit_btn' name='submit' value='checkout'>Pay now</button>
      </form>
  {% endblock %}
</html>