<html>
  {% extends "layout.html" %}

  {% block title %}
    {%  if title %}
      <title>{{ title }} Page</title>
    {% else %}
      <title>Welcome to the Page</title>
    {%  endif %}
  {% endblock %}
  
  {% block content %}
  {% if session.user_id %}
    <h1>Products</h1>
    <form method ="post" action="/">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.price }}</td>
              <td><button class="btn btn-primary" type='submit_btn' name='submit' value={{ product.id }}>Buy it </button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% endif %}
  {% endblock %}
</html>
