<html>
  {% extends "sellerlayout.html" %}

  {% block title %}
      Seller's Dashboard
  {% endblock %}

  {% block content %}
  {% if session.user_id %}
    <h1>My Catalogue</h1>
    <form method="post" action="/sellerdashboard">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Price (£)</th>
            <th scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>£{{ product.price }}</td>
              <td><button class="btn" type='submit_btn' name='submit' value={{ product.id }}>Change Price</button></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </form>
  {% endif %}
  {% endblock %}
</html>